<!DOCTYPE html>
<html lang="en">
<head>
    <title>Ustadmobile Editor</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" content="english">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/UmEditorCore.min.css">
    <script src="js/jquery3.3.1.min.js" type="text/javascript"></script>
    <script src="lib/rangy/js/rangy-core.js" type="text/javascript"></script>
    <script src="lib/tinymce/js/tinymce.min.js" type="text/javascript"></script>
    <script src="js/UmQuestionWidget.min.js" type="text/javascript"></script>
    <script src="js/UmContentEditorCore.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        window.onload = () => {
            $("#umEditor").css("min-height",$(window).height());
            UmQuestionWidget.handleWidgetListeners();
        }
    </script>
</head>
<body>

<div class="container-fluid row default-margin-top">
    <div class="col-sm-12 col-md-12 col-lg-12" id="umEditor"></div>
</div>

<script src="js/bootstrap.min.js" type="text/javascript"></script>
</body>
</html>